	<!-- TOP IMAGE -->
<div class="page-head " style="background-image:url(assets/images/top-bkgs/practice-areas.jpg);">
    <div class="inner-desc">
        <div class="container">
            <h1 class="page-title">Practice Areas v2 3 Cols</h1>
            <span class="post-subtitle page-subtitle">We have extensive experience in the following areas</span>
        </div>
    </div>
</div>
<!-- /TOP IMAGE -->
<!-- PAGE CONTENT -->
<div class="page-holder custom-page-template page-full fullscreen-page clearfix">

    <!-- SECTION 1-->
    <section class="section-holder">
        <div class="container">
            <div class="row practice-items-holder-v2">
                <div class="col-lg-4 col-md-6">
                    <div class="practice-item-v2">
                        <a href="practice-single-page.html">
                            <div class="practice-circle"><i class="fas fa-truck"></i></div>
                        </a>
                        <h5 class="practice-title-v2"><a href="practice-single-page.html">Auto Accidents</a></h5>
                        <div class="practice-excerpt">Fusce commodo iaculis pulvinar. Cras faucibus facilisis aliquet. Morbi lorem nulla, bibendum vel bibendum id, aliquet ut ipsum. Praesent est diam, porta.</div>
                        <a class="read-more" href="practice-single-page.html">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="practice-item-v2">
                        <a href="practice-single-page.html">
                            <div class="practice-circle"><i class="fas fa-hard-hat"></i></div>
                        </a>
                        <h5 class="practice-title-v2"><a href="practice-single-page.html">Construction Loans</a></h5>
                        <div class="practice-excerpt">Fusce commodo iaculis pulvinar. Cras faucibus facilisis aliquet. Morbi lorem nulla, bibendum vel bibendum id, aliquet ut ipsum. Praesent est diam, porta.</div>
                        <a class="read-more" href="practice-single-page.html">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="practice-item-v2">
                        <a href="practice-single-page.html">
                            <div class="practice-circle"><i class="far fa-building"></i></div>
                        </a>
                        <h5 class="practice-title-v2"><a href="practice-single-page.html">Real Estate</a></h5>
                        <div class="practice-excerpt">Fusce commodo iaculis pulvinar. Cras faucibus facilisis aliquet. Morbi lorem nulla, bibendum vel bibendum id, aliquet ut ipsum. Praesent est diam, porta.</div>
                        <a class="read-more" href="practice-single-page.html">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="practice-item-v2">
                        <a href="practice-single-page.html">
                            <div class="practice-circle"><i class="far fa-chart-bar"></i></div>
                        </a>
                        <h5 class="practice-title-v2"><a href="practice-single-page.html">Finance Law</a></h5>
                        <div class="practice-excerpt">Fusce commodo iaculis pulvinar. Cras faucibus facilisis aliquet. Morbi lorem nulla, bibendum vel bibendum id, aliquet ut ipsum. Praesent est diam, porta.</div>
                        <a class="read-more" href="practice-single-page.html">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="practice-item-v2">
                        <a href="practice-single-page.html">
                            <div class="practice-circle"><i class="far fa-money-bill-alt"></i></div>
                        </a>
                        <h5 class="practice-title-v2"><a href="practice-single-page.html">Tax Disputes</a></h5>
                        <div class="practice-excerpt">Fusce commodo iaculis pulvinar. Cras faucibus facilisis aliquet. Morbi lorem nulla, bibendum vel bibendum id, aliquet ut ipsum. Praesent est diam, porta.</div>
                        <a class="read-more" href="practice-single-page.html">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="practice-item-v2">
                        <a href="practice-single-page.html">
                            <div class="practice-circle"><i class="far fa-meh"></i></div>
                        </a>
                        <h5 class="practice-title-v2"><a href="practice-single-page.html">Child Abuse</a></h5>
                        <div class="practice-excerpt">Fusce commodo iaculis pulvinar. Cras faucibus facilisis aliquet. Morbi lorem nulla, bibendum vel bibendum id, aliquet ut ipsum. Praesent est diam, porta.</div>
                        <a class="read-more" href="practice-single-page.html">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="practice-item-v2">
                        <a href="practice-single-page.html">
                            <div class="practice-circle"><i class="fas fa-medkit"></i></div>
                        </a>
                        <h5 class="practice-title-v2"><a href="practice-single-page.html">Health Care</a></h5>
                        <div class="practice-excerpt">Fusce commodo iaculis pulvinar. Cras faucibus facilisis aliquet. Morbi lorem nulla, bibendum vel bibendum id, aliquet ut ipsum. Praesent est diam, porta.</div>
                        <a class="read-more" href="practice-single-page.html">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="practice-item-v2">
                        <a href="practice-single-page.html">
                            <div class="practice-circle"><i class="fas fa-heart-broken"></i></div>
                        </a>
                        <h5 class="practice-title-v2"><a href="practice-single-page.html">Divorce</a></h5>
                        <div class="practice-excerpt">Fusce commodo iaculis pulvinar. Cras faucibus facilisis aliquet. Morbi lorem nulla, bibendum vel bibendum id, aliquet ut ipsum. Praesent est diam, porta.</div>
                        <a class="read-more" href="practice-single-page.html">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="practice-item-v2">
                        <a href="practice-single-page.html">
                            <div class="practice-circle"><i class="fas fa-plane"></i></div>
                        </a>
                        <h5 class="practice-title-v2"><a href="practice-single-page.html">Aviation</a></h5>
                        <div class="practice-excerpt">Fusce commodo iaculis pulvinar. Cras faucibus facilisis aliquet. Morbi lorem nulla, bibendum vel bibendum id, aliquet ut ipsum. Praesent est diam, porta.</div>
                        <a class="read-more" href="practice-single-page.html">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="practice-item-v2">
                        <a href="practice-single-page.html">
                            <div class="practice-circle"><i class="fas fa-fire"></i></div>
                        </a>
                        <h5 class="practice-title-v2"><a href="practice-single-page.html">Burn Injuries</a></h5>
                        <div class="practice-excerpt">Fusce commodo iaculis pulvinar. Cras faucibus facilisis aliquet. Morbi lorem nulla, bibendum vel bibendum id, aliquet ut ipsum. Praesent est diam, porta.</div>
                        <a class="read-more" href="practice-single-page.html">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="practice-item-v2">
                        <a href="practice-single-page.html">
                            <div class="practice-circle"><i class="fas fa-leaf"></i></div>
                        </a>
                        <h5 class="practice-title-v2"><a href="practice-single-page.html">Environmental Law</a></h5>
                        <div class="practice-excerpt">Fusce commodo iaculis pulvinar. Cras faucibus facilisis aliquet. Morbi lorem nulla, bibendum vel bibendum id, aliquet ut ipsum. Praesent est diam, porta.</div>
                        <a class="read-more" href="practice-single-page.html">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="practice-item-v2">
                        <a href="practice-single-page.html">
                            <div class="practice-circle"><i class="fas fa-wheelchair"></i></div>
                        </a>
                        <h5 class="practice-title-v2"><a href="practice-single-page.html">Medical Abuse</a></h5>
                        <div class="practice-excerpt">Fusce commodo iaculis pulvinar. Cras faucibus facilisis aliquet. Morbi lorem nulla, bibendum vel bibendum id, aliquet ut ipsum. Praesent est diam, porta.</div>
                        <a class="read-more" href="practice-single-page.html">Learn More</a>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- /SECTION 1-->
    <!-- SECTION 2-->
    <section class="section-holder">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 alignc">
                    <span class="heading-subtitle">Contact Us</span>
                    <h2 class="section-heading-title">Get in Touch</h2>
                </div>
            </div>
            <!-- /row -->
            <div class="row">
                <div class="col-lg-4 alignc">
                    <div class="icon-box-icon margin-none"><i class="fas fa-map-marker-alt"></i></div>
                    <div class="icon-box-title">OFFICE</div>
                    <p class="icon-box-description">40 Park Ave, Brooklyn, New York</p>
                </div>
                <div class="col-lg-4 alignc">
                    <div class="icon-box-icon margin-none"><i class="fas fa-phone-alt"></i></div>
                    <div class="icon-box-title">PHONE</div>
                    <p class="icon-box-description">1-800-000-111</p>
                </div>
                <div class="col-lg-4 alignc">
                    <div class="icon-box-icon margin-none"><i class="far fa-envelope"></i></div>
                    <div class="icon-box-title">EMAIL</div>
                    <p class="icon-box-description">contact@example.com</p>
                </div>

            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- /SECTION 2-->

</div><!-- /PAGE CONTENT -->