@model List<Practice>
<!-- TOP IMAGE -->
<div class="page-head " style="background-image:url(../assets/images/top-bkgs/practice-areas.jpg);">
    <div class="inner-desc">
        <div class="container">
            <h1 class="page-title">Practice Areas</h1>
            <span class="post-subtitle page-subtitle">We have extensive experience in the following areas</span>
        </div>
    </div>
</div>
<!-- /TOP IMAGE -->
<!-- PAGE CONTENT -->
<div class="page-holder custom-page-template page-full fullscreen-page clearfix">

    <!-- SECTION 1-->
    <section class="section-holder">
        <div class="container">
            <div class="row practice-items-holder">
                @foreach (var item in Model)
                {

                    <div class="col-md-6 col-lg-3 practice-item-4cols">
                        <a asp-controller="Practice" asp-action="Details" asp-route-id="@item.Id">
                            <div class="practice-item">
                                <div class="practice-icon">@Html.Raw(item.Icon)</div>
                                <h3 class="practice-title">@item.Name</h3>
                            </div>
                        </a>
                    </div>
                }
                @*<div class="col-md-6 col-lg-3 practice-item-4cols">
                    <a href="practice-single-page.html">
                        <div class="practice-item">
                            <div class="practice-icon"><i class="fas fa-truck"></i></div>
                            <h3 class="practice-title">Auto Accidents</h3>
                        </div>
                    </a>
                </div>


                <div class="col-md-6 col-lg-3 practice-item-4cols">
                    <a href="practice-single-page.html">
                        <div class="practice-item">
                            <div class="practice-icon"><i class="fas fa-hard-hat"></i></div>
                            <h3 class="practice-title">Construction Loans</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-3 practice-item-4cols">
                    <a href="practice-single-page.html">
                        <div class="practice-item">
                            <div class="practice-icon"><i class="far fa-building"></i></div>
                            <h3 class="practice-title">Real Estate</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-3 practice-item-4cols">
                    <a href="practice-single-page.html">
                        <div class="practice-item">
                            <div class="practice-icon"><i class="far fa-chart-bar"></i></div>
                            <h3 class="practice-title">Finance Law</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-3 practice-item-4cols">
                    <a href="practice-single-page.html">
                        <div class="practice-item">
                            <div class="practice-icon"><i class="far fa-money-bill-alt"></i></div>
                            <h3 class="practice-title">Tax Disputes</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-3 practice-item-4cols">
                    <a href="practice-single-page.html">
                        <div class="practice-item">
                            <div class="practice-icon"><i class="far fa-meh"></i></div>
                            <h3 class="practice-title">Child Abuse</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-3 practice-item-4cols">
                    <a href="practice-single-page.html">
                        <div class="practice-item">
                            <div class="practice-icon"><i class="fas fa-medkit"></i></div>
                            <h3 class="practice-title">Health Care</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-3 practice-item-4cols">
                    <a href="practice-single-page.html">
                        <div class="practice-item">
                            <div class="practice-icon"><i class="fas fa-heart-broken"></i></div>
                            <h3 class="practice-title">Divorce</h3>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-3 practice-item-4cols">
                    <a href="practice-single-page.html">
                        <div class="practice-item">
                            <div class="practice-icon"><i class="fas fa-plane"></i></div>
                            <h3 class="practice-title">Aviation</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-3 practice-item-4cols">
                    <a href="practice-single-page.html">
                        <div class="practice-item">
                            <div class="practice-icon"><i class="fas fa-fire"></i></div>
                            <h3 class="practice-title">Burn Injuries</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-3 practice-item-4cols">
                    <a href="practice-single-page.html">
                        <div class="practice-item">
                            <div class="practice-icon"><i class="fas fa-leaf"></i></div>
                            <h3 class="practice-title">Environmental Law</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-3 practice-item-4cols">
                    <a href="practice-single-page.html">
                        <div class="practice-item">
                            <div class="practice-icon"><i class="fas fa-wheelchair"></i></div>
                            <h3 class="practice-title">Medical Abuse</h3>
                        </div>
                    </a>
                </div>*@
            </div>
            <!-- /row -->

        </div>
        <!-- /container -->
    </section>
    <!-- /SECTION 1-->
    <!-- SECTION 2-->
    <section class="parallax section-holder" style="background-image:url('../assets/images/blog/blog-7.jpg');">
        <div class="container parallax-content">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 alignc">
                    <span class="heading-subtitle white">Legal Services</span>
                    <h2 class="margin-b16">We help solve your legal issues</h2>
                    <div class="view-more view-more-white alignc"><a href="contact.html">Make an Appointment</a></div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- /SECTION 2-->
    <!-- SECTION 3-->
    <section class="section-holder">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 alignc">
                    <span class="heading-subtitle">Testimonials</span>
                    <h2 class="section-heading-title">What Our Clients Say</h2>
                </div>

            </div>
            <!-- /row -->

            <div class="row">
                <div class="col-lg-4">
                    <div class="testimonial-wrapper">
                        <div class="testimonial-content">
                            <h6>"Vocent utamur appareat ad his, eum volumus denique consectetuer id. Iusto affert mucius vix ei. Nec veritus epicurei tractatos at. Mel id posse nostrum."</h6>
                        </div>
                        <div class="icon-box-wrapper">
                            <div class="icon-box-icon testimonial-client"><img src="~/assets/images/testimonials/client-2.jpg" alt=""></div>
                            <div class="icon-box-content">
                                <div class="client-name">Jean Carlson</div>
                                <p class="client-company">Leaf Inc.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /col-lg-4 -->
                <div class="col-lg-4">
                    <div class="testimonial-wrapper">
                        <div class="testimonial-content">
                            <h6>"Sed sodales, odio eget adipiscing mattis, sapien purus dapibus felis, sit amet mollis velit dolor eu lorem. Vivamus condimentum nunc a quam lobortis tempus."</h6>
                        </div>
                        <div class="icon-box-wrapper">
                            <div class="icon-box-icon testimonial-client"><img src="~/assets/images/testimonials/client-1.jpg" alt=""></div>
                            <div class="icon-box-content">
                                <div class="client-name">Louis Rios</div>
                                <p class="client-company">Medical Co.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /col-lg-4 -->
                <div class="col-lg-4">
                    <div class="testimonial-wrapper">
                        <div class="testimonial-content">
                            <h6>"Eros sale has id, usu solet primis cetero in. Vel ex qualisque argumentum dissentiet, iusto omnes ornatus nec at. Vim definiebas neglegentur mediocritatem in, est."</h6>
                        </div>
                        <div class="icon-box-wrapper">
                            <div class="icon-box-icon testimonial-client"><img src="~/assets/images/testimonials/client-3.jpg" alt=""></div>
                            <div class="icon-box-content">
                                <div class="client-name">Michael Jonson</div>
                                <p class="client-company">Jfirm</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /col-lg-4 -->

            </div>
            <!-- /row -->

        </div>
        <!-- /container -->
    </section>
    <!-- /SECTION 3-->

</div><!-- /PAGE CONTENT -->