		<!-- TOP IMAGE -->
<div class="page-head " style="background-image:url(../assets/images/top-bkgs/practice-areas.jpg);">
    <div class="inner-desc">
        <div class="container">
            <h1 class="page-title">Practice Single Page</h1>
        </div>
    </div>
</div>
<!-- /TOP IMAGE -->
<!-- PAGE CONTENT -->
<div class="page-holder custom-page-template page-full fullscreen-page clearfix">
    <!-- SECTION 1-->
    <section class="section-holder">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <img src="~/assets/images/blog/blog-1.jpg" class="img-fluid margin-b16" alt="" />
                    <h3>Choosing the Right Attorney for Your Case</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo sapien felis. Pellentes faucibus sollicitudin ante,at porta felisrutrum eget. Sed ut nisl urna,e get convallis purus pretium facilisis. Interdum et malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo sapien felis.</p>
                    <p>Cras eu nibh non dui mattis pretium id vitae erat. Quisque justo nisi, malesuada eget lorem ac, posuere dictum justo. Vestibulum vitae scelerisque ante. Duis at mi vel odio fermentum accumsan at nec massa. Donec id velit porta, mattis lorem vitae, convallis nunc. Phasellus euismod vulputate lacus ac commodo. Pellentesque id fermentum enim, non aliquam libero. Fusce tincidunt dictum erat sit amet volutpat.</p>
                    <h3>Our experienced attorneys are willing to tackle the most complex of cases on your behalf</h3>
                    <p>Fusce commodo iaculis pulvinar. Cras faucibus facilisis aliquet. Morbi lorem nulla, bibendum vel bibendum id, aliquet ut ipsum. Praesent est diam, porta eget vestibulum pulvinar, mattis sit amet ante. Donec non malesuada nisi, id rutrum dolor. Nullam vel dignissim velit. Nunc ligula tellus, iaculis et vehicula.</p>
                    <p>Duis at mi vel odio fermentum accumsan at nec massa. Donec id velit porta, mattis lorem vitae, convallis nunc. Phasellus euismod vulputate lacus ac commodo. Pellentesque id fermentum enim, non aliquam libero. Fusce tincidunt dictum erat sit amet volutpat.</p>
                </div>
                <!-- /col-lg-9 -->
                <div class="col-lg-3">
                    <aside>
                        <ul>
                            <li class="widget">
                                <h5 class="widgettitle">Practice Areas</h5>
                                <div class="sidebar widget_recent_entries">
                                    <ul>
                                        <li><a href="#">Auto Accidents</a></li>
                                        <li><a href="#">Construction Loans</a></li>
                                        <li><a href="#">Real Estate</a></li>
                                        <li><a href="#">Finance Law</a></li>
                                        <li><a href="#">Tax Disputes</a></li>
                                        <li><a href="#">Child Abuse</a></li>
                                        <li><a href="#">Health Care</a></li>
                                        <li><a href="#">Divorce</a></li>
                                        <li><a href="#">Aviation</a></li>
                                        <li><a href="#">Burn Injuries</a></li>
                                        <li><a href="#">Environmental Law</a></li>
                                        <li><a href="#">Medical Abuse</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="widget">
                                <div class="practice-contact" style="background-image:url(assets/images/blog/blog-7.jpg);">
                                    <h5 class="white">Need help?</h5>
                                    <p>Contact us today for a free consultation and our experts will help you.</p>
                                    <p><strong>Phone:</strong> 1-800-000-111<br><strong>Email:</strong> contact@example.com</p>
                                    <p><strong>Mon – Fri:</strong> 09:00 -17:00</p>
                                </div>
                            </li>
                        </ul>
                    </aside>
                </div>
                <!-- /col-lg-3 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- /SECTION 1-->
    <!-- SECTION 2-->
    <section class="parallax section-about5" style="background-image:url(assets/images/practice/practice-banner.jpg);">
        <div class="container parallax-content">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 alignc">
                    <span class="heading-subtitle white">Contact Us</span>
                    <h2 class="margin-b16">We're here to help you</h2>
                    <p>Call Now : 1-800-000-111 and make an appointment with one of our legal experts.</p>
                    <div class="view-more view-more-white margin-t54 alignc"><a href="contact.html">Make an Appointment</a></div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- /SECTION 2-->
</div><!-- /PAGE CONTENT -->