@model AccountVM
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive Bootstrap 4 Admin &amp; Dashboard Template">
    <meta name="author" content="Bdtask">
    <title>Forget Password</title>
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/admin/assets/dist/img/favicon.png">
    <!--Global Styles(used by all pages)-->
    <link href="~/admin/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/admin/assets/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="~/admin/assets/plugins/fontawesome/css/all.min.css" rel="stylesheet">
    <link href="~/admin/assets/plugins/typicons/src/typicons.min.css" rel="stylesheet">
    <link href="~/admin/assets/plugins/themify-icons/themify-icons.min.css" rel="stylesheet">
    <!--Third party Styles(used by this page)-->
    <!--Start Your Custom Style Now-->
    <link href="~/admin/assets/dist/css/style.css" rel="stylesheet">
</head>
<body class="bg-white">
    <div class="d-flex align-items-center justify-content-center text-center h-100vh">
        <div class="form-wrapper m-auto">
            <div class="form-container my-4">
                <div class="register-logo text-center mb-4">
                    <img src="~/admin/assets/dist/img/logo2.html" alt="">
                </div>
                <div class="panel">
                    <div class="panel-header text-center mb-3">
                        <h3 class="fs-24">Password Reset</h3>
                        <p class="text-muted text-center mb-0">Fill Password And Confirm Password</p>
                    </div>
                    <form class="register-form" method="post">
                        <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
                        <div class="form-group">
                            <input type="password" class="form-control" asp-for="Password" id="emial" placeholder="Password">
                            <br> <span class="text text-danger" asp-validation-for="Password"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" asp-for="ConfirmPassword" id="emial" placeholder="Confirm Password">
                            <br> <span class="text text-danger" asp-validation-for="ConfirmPassword"></span>
                        </div>
                        <div class="form-group d-none">
                            <input type="email" class="form-control" asp-for="User.Email" id="emial">
                            <input type="text" class="form-control" asp-for="Token" id="emial">
                        </div>
                        <button type="submit" class="btn btn-success btn-block">Reset password</button>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.End of form wrapper -->
    <!--Global script(used by all pages)-->
    <script src="~/admin/assets/plugins/jQuery/jquery-3.4.1.min.js"></script>
    <script src="~/admin/assets/dist/js/popper.min.js"></script>
    <script src="~/admin/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/admin/assets/plugins/metisMenu/metisMenu.min.js"></script>
    <script src="~/admin/assets/plugins/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
    <!-- Third Party Scripts(used by this page)-->
    <!--Page Active Scripts(used by this page)-->
    <!--Page Scripts(used by all page)-->
    <script src="~/admin/assets/dist/js/sidebar.js"></script>
</body>

<!-- Mirrored from bhulua.thememinister.com/forget_password.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 12 Oct 2019 13:14:22 GMT -->
</html>

