@model FAQ	
	<!-- TOP IMAGE -->
<div class="page-head " style="background-image:url(../assets/images/top-bkgs/about.jpg);">
    <div class="inner-desc">
        <div class="container">
            <h1 class="page-title">FAQ</h1>
            <span class="post-subtitle page-subtitle">Quisque ultricies tristique metus vitae</span>
        </div>
    </div>
</div>
<!-- /TOP IMAGE -->
<!-- PAGE CONTENT -->
<div class="page-holder custom-page-template page-full fullscreen-page clearfix">
    <!-- SECTION 1-->
    <section class="section-holder">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 margin-bm54">
                    <span class="heading-subtitle">FAQ</span>
                    <h2 class="section-heading-title margin-b16">@Model.Title</h2>
                    <p>@Model.Description</p>
                    <ul class="faq-list">
                        @foreach (var item in Model.FaqQuestions)
                        {
                            <li>
                                <h5 class="faq-title"><a href="#faq1">@item.Question</a></h5>
                                <div id="faq1" class="faq-section">
                                    <p>@item.Answer</p>
                                </div>
                            </li>
                        }


                    
                    </ul>
                </div>
                <div class="col-lg-6">
                    @foreach (var item in Model.FaqImages)
                    {
                        <img class="img-fluid margin-b16" src="~/assets/images/cases/@item.Image" alt="">
                    }
                  
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- /SECTION 1-->
    <!-- SECTION 2-->
    <section class="section-holder">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 alignc">
                    <span class="heading-subtitle">Have a Question?</span>
                    <h2 class="section-heading-title">Get in Touch with Our Experts</h2>
                </div>
                <div class="col-lg-12">
                    <div id="contact-form-holder">
                        <form method="post" id="contact-form" asp-controller="About" asp-action="SendMail">
                            <div class="row">
                                <div class="col-lg-4 margin-b32"><input type="text" name="name" class="comm-field" placeholder="Name" /></div>
                                <div class="col-lg-4 margin-b32"><input type="text" name="email" class="comm-field" placeholder="Email" /> </div>
                                <div class="col-lg-4 margin-b32"><input type="text" name="subject" class="comm-field" placeholder="Subject" /> </div>
                            </div>
                            <div class="margin-b32"><textarea name="message" id="msg-contact" rows="5" placeholder="Message"></textarea></div>
                            <p class="antispam">Leave this empty: <input type="text" name="url" /></p>
                            <p><input type="submit" value="Send message" id="submit" /></p>
                        </form>
                    </div>
                    <!-- contact-form-holder-->
                    <div id="output-contact"></div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- /SECTION 2-->

</div>
<!-- /PAGE CONTENT -->
