	<!-- TOP IMAGE -->
<div class="page-head " style="background-image:url(../assets/images/home/slider-2.jpg);">
    <div class="inner-desc">
        <div class="container">
            <h1 class="page-title">Pricing</h1>
            <span class="post-subtitle page-subtitle">Dedicated legal support specialist</span>
        </div>
    </div>
</div>
<!-- /TOP IMAGE -->
<!-- PAGE CONTENT -->
<div class="page-holder custom-page-template page-full fullscreen-page clearfix">
    <!-- SECTION 1-->
    <section class="section-holder">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <span class="heading-subtitle">Pricing Plans</span>
                    <h2 class="section-heading-title margin-b16">You can count on us</h2>
                    <p>Lorem ipsum dolor sit amet, ut eius periculis eos, eu mea suscipit intellegam. Tota consequuntur cu pro, congue efficiantur eos id. Ius in percipit recusabo. Has ex agam audire, id dicat dolores.</p>
                    <p>Vix in erat erant ubique, cum et dicant soluta, postulant mediocrem at mel. Appetere inciderint eloquentiam ne sed. In veri illud erroribus vel, vel ad graeci theophrastus, libris timeam sapientem ex mel. Sed sodales, odio eget adipiscing mattis, sapien purus dapibus felis, sit amet mollis. </p>
                    <img class="img-fluid" src="~/assets/images/about/founder-sign.jpg" alt="" width="250">
                </div>
                <div class="col-lg-5 margin-bm54">
                    <img class="img-fluid" src="~/assets/images/practice/practice-12.jpg" alt="">
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- /SECTION 1-->
    <!-- SECTION 2-->
    <section class="section-holder">
        <div class="container">
            <div class="row">
                <div class="col-md-4 margin-bm32">
                    <div class="pricing-col">
                        <h3 class="margin-b32">Basic</h3>
                        <h2 class="price-title">$20<sup>/monthly</sup></h2>
                        <ul class="price-features">
                            <li>Auto Accidents</li>
                            <li>Business Litigation</li>
                            <li>Family Law</li>
                            <li>Tax Disputes</li>
                        </ul>
                        <div class="view-more"><a href="#">Learn More</a></div>
                    </div>
                    <!-- /pricing-col -->
                </div>
                <div class="col-md-4 margin-bm32">
                    <div class="pricing-col">
                        <h3 class="margin-b32">Standard</h3>
                        <h2 class="price-title">$40<sup>/monthly</sup></h2>
                        <ul class="price-features">
                            <li>Auto Accidents</li>
                            <li>Business Litigation</li>
                            <li>Family Law</li>
                            <li>Tax Disputes</li>
                        </ul>
                        <div class="view-more"><a href="#">Learn More</a></div>
                    </div>
                    <!-- /pricing-col -->
                </div>
                <div class="col-md-4 margin-bm32">
                    <div class="pricing-col">
                        <h3 class="margin-b32">Premium</h3>
                        <h2 class="price-title">$60<sup>/monthly</sup></h2>
                        <ul class="price-features">
                            <li>Auto Accidents</li>
                            <li>Business Litigation</li>
                            <li>Family Law</li>
                            <li>Tax Disputes</li>
                        </ul>
                        <div class="view-more"><a href="#">Learn More</a></div>
                    </div>
                    <!-- /pricing-col -->
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- /SECTION 2-->

</div>
<!-- /PAGE CONTENT -->