@model List<Testimonial>

		<!-- TOP IMAGE -->
<div class="page-head " style="background-image:url(../assets/images/top-bkgs/about.jpg);">
    <div class="inner-desc">
        <div class="container">
            <h1 class="page-title">Testimonials</h1>
            <span class="post-subtitle page-subtitle">Dictum ultricies magna ultricies</span>
        </div>
    </div>
</div>
<!-- /TOP IMAGE -->
<!-- PAGE CONTENT -->
<div class="page-holder custom-page-template page-full fullscreen-page clearfix">
    <!-- SECTION 1-->
    <section class="section-holder">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <h4 class="margin-b108 alignc">Client satisfaction is our number one goal. What our clients are saying about their experience with our firm.</h4>
                </div>
            </div>
            <!-- /row -->
            <div class="row">
                @foreach (var item in Model)
                {

                    <div class="col-lg-6">
                        <div class="testimonial-wrapper">
                            <div class="testimonial-content">
                                <h6>@item.Description</h6>
                            </div>
                            <div class="icon-box-wrapper">
                                <div class="icon-box-icon testimonial-client"><img src="~/assets/images/testimonials/@item.Image" alt=""></div>
                                <div class="icon-box-content">
                                    <div class="client-name">@item.Fullname</div>
                                    <p class="client-company">@item.Componyname</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }


                <!--<div class="col-lg-6">
                    <div class="testimonial-wrapper">
                        <div class="testimonial-content">
                            <h6>"Vocent utamur appareat ad his, eum volumus denique consectetuer id. Iusto affert mucius vix ei. Nec veritus epicurei tractatos at. Mel id posse nostrum, id ubique graece nostro mei."</h6>
                        </div>
                        <div class="icon-box-wrapper">
                            <div class="icon-box-icon testimonial-client"><img src="~/assets/images/testimonials/client-2.jpg" alt=""></div>
                            <div class="icon-box-content">
                                <div class="client-name">Jean Carlson</div>
                                <p class="client-company">Leaf Inc.</p>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- /col-lg-6 -->
                <!--<div class="col-lg-6">
                    <div class="testimonial-wrapper">
                        <div class="testimonial-content">
                            <h6>"Sed sodales, odio eget adipiscing mattis, sapien purus dapibus felis, sit amet mollis velit dolor eu lorem. Vivamus condimentum nunc a quam lobortis tempus."</h6>
                        </div>
                        <div class="icon-box-wrapper">
                            <div class="icon-box-icon testimonial-client"><img src="~/assets/images/testimonials/client-1.jpg" alt=""></div>
                            <div class="icon-box-content">
                                <div class="client-name">Louis Rios</div>
                                <p class="client-company">Medical Co.</p>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- /col-lg-6 -->
                <!--<div class="col-lg-6">
                    <div class="testimonial-wrapper">
                        <div class="testimonial-content">
                            <h6>"Eros sale has id, usu solet primis cetero in. Vel ex qualisque argumentum dissentiet, iusto omnes ornatus nec at. Vim definiebas neglegentur mediocritatem in, est expetendis incorrupte scripserit an."</h6>
                        </div>
                        <div class="icon-box-wrapper">
                            <div class="icon-box-icon testimonial-client"><img src="~/assets/images/testimonials/client-3.jpg" alt=""></div>
                            <div class="icon-box-content">
                                <div class="client-name">Michael Jonson</div>
                                <p class="client-company">Jfirm</p>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- /col-lg-6 -->
                <!--<div class="col-lg-6">
                    <div class="testimonial-wrapper">
                        <div class="testimonial-content">
                            <h6>"Donec porttitor tincidunt lorem id semper. Praesent consequat volutpat molestie. Suspendisse sagittis velit et lacus lacinia, vitae dignissim urna feugiat. Nam suscipit sagittis."</h6>
                        </div>
                        <div class="icon-box-wrapper">
                            <div class="icon-box-icon testimonial-client"><img src="~/assets/images/testimonials/client-4.jpg" alt=""></div>
                            <div class="icon-box-content">
                                <div class="client-name">Angela Ray</div>
                                <p class="client-company">Rays</p>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- /col-lg-6 -->
                <!--<div class="col-lg-6">
                    <div class="testimonial-wrapper">
                        <div class="testimonial-content">
                            <h6>"Utinam maiestatis quo cu. Id libris patrioque eos, pro soluta dignissim splendide ei, vim in iudico facilis. Usu te liber repudiare. Mea option apeirian periculis et, ex vis graece intellegam, option omittam id quo."</h6>
                        </div>
                        <div class="icon-box-wrapper">
                            <div class="icon-box-icon testimonial-client"><img src="~/assets/images/testimonials/client-4.jpg" alt=""></div>
                            <div class="icon-box-content">
                                <div class="client-name">Angela Ray</div>
                                <p class="client-company">Rays</p>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- /col-lg-6 -->
                <!--<div class="col-lg-6">
                    <div class="testimonial-wrapper">
                        <div class="testimonial-content">
                            <h6>"His alii nibh id, mel in dolorem sensibus. Te sea meis decore. Dicunt eligendi id his. In labores oportere splendide cum, pro in altera detracto tacimates. Ne has solum nominati delicata, ea habeo viris quo."</h6>
                        </div>
                        <div class="icon-box-wrapper">
                            <div class="icon-box-icon testimonial-client"><img src="~/assets/images/testimonials/client-2.jpg" alt=""></div>
                            <div class="icon-box-content">
                                <div class="client-name">Jean Carlson</div>
                                <p class="client-company">Leaf Inc.</p>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- /col-lg-6 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- /SECTION 1-->
    <!-- SECTION 2-->
    <section class="section-holder">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 alignc">
                    <span class="heading-subtitle">Contact Us</span>
                    <h2 class="section-heading-title">Get in Touch</h2>
                </div>
            </div>
            <!-- /row -->
            <div class="row">
                <div class="col-lg-4 alignc">
                    <div class="icon-box-icon margin-none"><i class="fas fa-map-marker-alt"></i></div>
                    <div class="icon-box-title">OFFICE</div>
                    <p class="icon-box-description">40 Park Ave, Brooklyn, New York</p>
                </div>
                <div class="col-lg-4 alignc">
                    <div class="icon-box-icon margin-none"><i class="fas fa-phone-alt"></i></div>
                    <div class="icon-box-title">PHONE</div>
                    <p class="icon-box-description">1-800-000-111</p>
                </div>
                <div class="col-lg-4 alignc">
                    <div class="icon-box-icon margin-none"><i class="far fa-envelope"></i></div>
                    <div class="icon-box-title">EMAIL</div>
                    <p class="icon-box-description">contact@example.com</p>
                </div>

            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- /SECTION 2-->

</div>
<!-- /PAGE CONTENT -->
