@model Practice



<div class="body-content">
    <div class="row">

        <div class="col-md-12 col-lg-12">
            <div class="card center-block mb-5" style="width:50rem;">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="form-group">
                            <label asp-for="Photo" class="font-weight-600">Photo</label>
                            <input asp-for="Photo" class="form-control" id="exampleFormControlInput1">
                            <span asp-validation-for="Photo"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Name" class="font-weight-600">Name</label>
                            <input asp-for="Name" class="form-control" id="exampleFormControlInput1">
                            <span asp-validation-for="Name"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="font-weight-600">Description</label>
                            <input asp-for="Description" class="form-control" id="exampleFormControlInput1">
                            <span asp-validation-for="Description"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Title" class="font-weight-600">Main Title</label>
                            <input asp-for="Title" class="form-control" id="exampleFormControlInput1">
                            <span asp-validation-for="Title"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Explonation" class="font-weight-600">Explonation</label>
                            <input asp-for="Explonation" class="form-control" id="exampleFormControlInput1">
                            <span asp-validation-for="Explonation"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Icon" class="font-weight-600">Icon</label>
                            <input asp-for="Icon" class="form-control" id="exampleFormControlInput1">
                            <span asp-validation-for="Icon"></span>
                        </div>
                        <button type="submit" class="btn btn-success">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>