<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Lawyers - Attorneys Business HTML Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noodp" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,700i%7CCrimson+Text:400,400i,700,700i" rel="stylesheet" type="text/css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" id="bootstrap-css" href="~/assets/css/bootstrap/css/bootstrap.css"/>
    <!-- Font Awesome Icons CSS -->
    <link rel="stylesheet" id="font-awesome" href="~/assets/css/fontawesome/css/all.min.css" />
    <!-- Owl Carousel -->
    <link rel="stylesheet" id="owl-carousel" href="~/assets/js/owl-carousel/owl.carousel.css" />
    <!-- Main CSS File -->
    <link rel="stylesheet" id="lawyers-style-css" href="~/assets/css/style.css"  />
    <!-- favicons -->
    <link rel="icon" href="~/asets/images/icons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" href="~/assets/images/icons/favicon-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="~/assets/images/icons/favicon-180x180.png" />
</head>
<body>
    <div class="menu-mask"></div>
    @await Component.InvokeAsync("Header")

    @RenderBody()

    @await Component.InvokeAsync("Footer")
    <div class="scrollup"> <a class="scrolltop" href="#"> <i class="fa fa-chevron-up"></i> </a></div>
    <!-- JS -->
    <script src="~/assets/js/jquery.js"></script>
    <script src="~/assets/js/jquery-migrate.min.js"></script>
    <script src="~/assets/css/bootstrap/js/popper.js"></script>
    <script src="~/assets/css/bootstrap/js/bootstrap.js"></script>
    <script src="~/assets/js/easing.js"></script>
    <script src="~/assets/js/fitvids.js"></script>
    <script src="~/assets/js/owl-carousel/owl.carousel.js"></script>
    <script src="~/assets/js/isotope.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- MAIN JS -->
    <script src="~/assets/js/init.js"></script>
    <!-- CONTAT FORM JS -->
    <script src="~/assets/js/jquery.form.min.js"></script>
    <script src="~/assets/js/contactform.js"></script>
</body>
</html>