		<!-- TOP IMAGE -->
<div class="page-head " style="background-image:url(../assets/images/top-bkgs/blog.jpg);">
    <div class="inner-desc">
        <div class="container">
            <h1 class="page-title">Blog Grid 3 Cols</h1>
            <span class="post-subtitle page-subtitle"> View the latest articles</span>
        </div>
    </div>
</div>
<!-- /TOP IMAGE -->
<!-- PAGE CONTENT -->
<div class="page-holder custom-page-template page-full fullscreen-page clearfix">
    <!-- SECTION 1-->
    <section class="blog-1col-list-left">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 posts-holder post-sidebar ">
                    <div class="row layout-masonry">
                        <div class="col-md-6 col-lg-4 blog-item-masonry">
                            <article class="blog-item blog-item-2col-grid">
                                <a href="blog-single-post.html">
                                    <div class="post-image"> <img src="~/assets/images/blog/blog-1.jpg" class="img-fluid" alt=""></div>
                                </a>
                                <div class="post-holder">
                                    <ul class="blog-date">
                                        <li class="meta-date">October 10, 2019</li>
                                        <li class="meta-categ"><a href="#" rel="category tag">Car Accidents</a> <a href="#" rel="category tag">News</a></li>
                                    </ul>
                                    <h2 class="blog-title"><a href="blog-single-post.html">Thinking Out Of The Box After A Simple Car Accident</a></h2>
                                    <div class="article-excerpt"> Arnare varius mauris eu commodo. Aenean nibh risus, rhoncus eget consectetur ac. Consectetur adipiscing elit. Vivamus auctor condimentum sem et gravida. Maecenas id enim pharetra...</div>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-6 col-lg-4 blog-item-masonry">
                            <article class="blog-item blog-item-2col-grid">
                                <a href="blog-single-post.html">
                                    <div class="post-image"> <img src="~/assets/images/blog/blog-2.jpg" class="img-fluid" alt=""></div>
                                </a>
                                <div class="post-holder">
                                    <ul class="blog-date">
                                        <li class="meta-date">October 9, 2019</li>
                                        <li class="meta-categ"><a href="#" rel="category tag">Divorce</a> <a href="#" rel="category tag">News</a></li>
                                    </ul>
                                    <h2 class="blog-title"><a href="blog-single-post.html">Understanding Domestic Violence Defense</a></h2>
                                    <div class="article-excerpt"> Arnare varius mauris eu commodo. Aenean nibh risus, rhoncus eget consectetur ac. Consectetur adipiscing elit. Vivamus auctor condimentum sem et gravida. Maecenas id enim pharetra...</div>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-6 col-lg-4 blog-item-masonry">
                            <article class="blog-item blog-item-2col-grid">
                                <a href="blog-single-post.html">
                                    <div class="post-image"> <img src="~/assets/images/blog/blog-9.jpg" class="img-fluid" alt=""></div>
                                </a>
                                <div class="post-holder">
                                    <ul class="blog-date">
                                        <li class="meta-date">October 8, 2019</li>
                                        <li class="meta-categ"> <a href="#" rel="category tag">News</a></li>
                                    </ul>
                                    <h2 class="blog-title"><a href="blog-single-post.html">How to Make a Claim Against an Airline</a></h2>
                                    <div class="article-excerpt"> Arnare varius mauris eu commodo. Aenean nibh risus, rhoncus eget consectetur ac. Consectetur adipiscing elit. Vivamus auctor condimentum sem et gravida. Maecenas id enim pharetra...</div>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-6 col-lg-4 blog-item-masonry">
                            <article class="blog-item blog-item-2col-grid">
                                <a href="blog-single-post.html">
                                    <div class="post-image"> <img src="~/assets/images/blog/blog-7.jpg" class="img-fluid" alt=""></div>
                                </a>
                                <div class="post-holder">
                                    <ul class="blog-date">
                                        <li class="meta-date">October 7, 2019</li>
                                        <li class="meta-categ"> <a href="#" rel="category tag">Business</a><a href="#" rel="category tag">News</a></li>
                                    </ul>
                                    <h2 class="blog-title"><a href="blog-single-post.html">Internship for Law Students</a></h2>
                                    <div class="article-excerpt"> Arnare varius mauris eu commodo. Aenean nibh risus, rhoncus eget consectetur ac. Consectetur adipiscing elit. Vivamus auctor condimentum sem et gravida. Maecenas id enim pharetra...</div>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-6 col-lg-4 blog-item-masonry">
                            <article class="blog-item blog-item-2col-grid">
                                <a href="blog-single-post.html">
                                    <div class="post-image"> <img src="~/assets/images/blog/blog-6.jpg" class="img-fluid" alt=""></div>
                                </a>
                                <div class="post-holder">
                                    <ul class="blog-date">
                                        <li class="meta-date">October 6, 2019</li>
                                        <li class="meta-categ"> <a href="#" rel="category tag">Divorce</a></li>
                                    </ul>
                                    <h2 class="blog-title"><a href="blog-single-post.html">Custody Battles and Divorce</a></h2>
                                    <div class="article-excerpt"> Arnare varius mauris eu commodo. Aenean nibh risus, rhoncus eget consectetur ac. Consectetur adipiscing elit. Vivamus auctor condimentum sem et gravida. Maecenas id enim pharetra...</div>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-6 col-lg-4 blog-item-masonry">
                            <article class="blog-item blog-item-2col-grid">
                                <a href="blog-single-post.html">
                                    <div class="post-image"> <img src="~/assets/images/blog/blog-5.jpg" class="img-fluid" alt=""></div>
                                </a>
                                <div class="post-holder">
                                    <ul class="blog-date">
                                        <li class="meta-date">October 5, 2019</li>
                                        <li class="meta-categ"> <a href="#" rel="category tag">News</a></li>
                                    </ul>
                                    <h2 class="blog-title"><a href="blog-single-post.html">Last Will and Testament</a></h2>
                                    <div class="article-excerpt"> Arnare varius mauris eu commodo. Aenean nibh risus, rhoncus eget consectetur ac. Consectetur adipiscing elit. Vivamus auctor condimentum sem et gravida. Maecenas id enim pharetra...</div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <!-- /row -->
                    <div class="prev-next"><span class="nav-page"></span><span class="page-numbers current-page">1</span> <a class="page-numbers" href="#">2</a> <a class="page-numbers" href="#">3</a> <span class="nav-page"><a href="#">&gt;</a></span></div>
                </div>
                <!-- /col-lg-12 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- /SECTION 1-->
</div><!-- /PAGE CONTENT -->
